<html lang="en">
  <!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>Eagle-Logistics Logistics</title>
</head>

<body>

  <!--Logo and banner-->
  <header>
    <h1> Eagle-Logistics...</h1>
    <img src="static/logoa.png" alt="eagle">
  </header>
  <section class="banner">
    <img src="static/img1111.jpg" alt="welcome banner">
    <div class="welcome">
      <h5>Eagle - Logistics<span><br>
          <h8>Make Your Things Move..</h8>
        </span></h5>
    </div>
  </section>

  <!--Navbar Menu-->
  <nav class="main-nav">
    <ul>
      <li><a href="/login">SignIn/SignUp</a></li>
      <li><a href="/booking" class="join">Book Your Order</a></li>
      <li><a href="/track">Track Order</a></li>
      <li><a href="#email">Contact</a></li>
    </ul>
  </nav>
  <main>
    <article>
      <div class="main">

        <h2>OUR SERVICES</h2>
        <hr>
        <!-- Portfolio Gallery Grid -->
        <div class="row">
          <div class="column">
            <div class="content">
              <img src="static/Warehouse.jpg" alt="Mountains" style="width:100%">
              <hr>
              <h3>WAREHOUSE LOGISTICS</h3>
              <p>Partnering with a third party logistics company
                To manage your supply chain, gives you flexibility
                To focus on other areas of your business. We have
                Buildings that can provide you with warehousing &
                Distribution, overflow, inventory management, order
                Fulfillment, cross-docking and transloading services
                .........
                <br>
                <hr>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <img src="static/pic12.jpg" alt="transport" style="width:100%">
              <br>
              <hr>
              <h3>TRANSPORTATION</h3>
              <p>We offer a variety of transportation services
                To get your product delivered where it needs
                To be on your deadline and your budget. Need
                Ocean freight, air freight or land freight?
                No problem.We can service domestic transport
                and international Transport. We can even
                handle customs clearance
                For import&export.
                <hr>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <img src="static/value21.jpeg" alt="value" style="width:100%">
              <hr>
              <h3>VALUE</h3>
              <p>Sometimes you need more than
                Storage and transportation. That
                Is why we offer a wide selection?
                Of Value Added services to all
                Our customers. Services include
                Kitting, packaging, labeling, overflow,
                Project logistics, financing, control
                tower Management, mission critical freight
                and So much more!
                <hr>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <img src="static/img1.jpg" alt="digital" style="width:100%">
              <br>
              <br>
              <hr>
              <h3>TECHNOLOGY</h3>
              <p>One of the things that differentiate
                Logistics from many other service providers
                is that all our global operations are on one
                single operating system. Cargo Wise One is a
                highly modular, enterprise-class system that
                streamlines the operations, accounts and management
                of Logistics Service Providers. The solution has
                provided
                <hr>
              </p>
            </div>
          </div>
        </div>
    </article>
    <hr>
  </main>
  <section class="join">
    <h3>Join Today!</h3>
    <p>For Partnering With Us....Drop Your Email Below</p>
    <form>
      <input type="email" name="email" id="email" placeholder="Enter Email">
    </form>
  </section>
  <footer>
    <p class="copyright">Copyright 2022 @ logistics</p>
  </footer>
</body>

</html>